.bomberbuddy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
 }
 
 .bomberbuddy-container h1 {
    margin: auto; 
    transform: translateY(-40%);
 }
 
.bomberbuddy-message {
    background-color: #F9F9F9;
    display: flex;
    /* align-items: center;  */
    width: 50%;
    height: 60px;
    border-radius: 50px;
    position: absolute; 
    bottom: 30px; 
    padding: 0 15px 0 15px;
}
 
 .bomberbuddy-bot{
    font-size: 100px;
    color: #003A70;
 }
 
.bomberbuddy-text p {
    display: flex; 
    align-items: center; 
 }
 
 .bomberbuddy-themessage {
    flex: 1;
    padding: 10px; 
    font-size: 20px; 
    width: 80%;
    border: none; 
    border-radius: 50px; 
    position: absolute;
    /* left: 6%; */
    top: 10%;
    outline: none;
    background-color:transparent;
    /* margin: 0 10px; */
}
 
 .bomberbuddy-icon-1{
    font-size: 35px;
    color: #003A70;
    cursor: pointer;
 }
 
 .bomberbuddy-icon-2{
    font-size: 35px;
    color: #003A70;
    margin-right: auto; 
    padding-left: 800px;
    margin-top: 10px;
    cursor: pointer; 
    transition: color 0.3s, transform 0.3s; 
 }
 
 .bomberbuddy-icon-2:hover{
    color: #005BB5;
    /* transform: scale(1.1); Slightly increase size on hover */
 }
 
 /* Responsive adjustments */
@media (max-width: 768px) {
   .bomberbuddy-message {
       width: 80%;
   }
}